language: go
go:
    - tip
before_install:
    - go get github.com/axw/gocov/gocov
    - go get github.com/mattn/goveralls
    - if ! go get github.com/golang/tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
    - go get github.com/pierrre/gotestcover
script:
    - gotestcover -coverprofile=cover.out ./...
    - $HOME/gopath/bin/goveralls -service=travis-ci -coverprofile cover.out
    - bash ./.travis.gofmt.sh
